rect.bar {
  fill: #0d99aa;
}

g.tick text {
  color: #6e6e6e;
  font-weight: 600;
  font-size: 12px;
}

g.axis.x g.tick text {
  transition: opacity 120ms ease-out;
}

g.axis.x.hover-active g.tick text {
  opacity: 0;
}
